.gridCell {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightslategray;
  display: flex;
  align-items: center;
}

.gridHeaderCell {
  font-size: 1.2em;
  padding: 20px 10px;
  height: 100%;
  border-bottom: 2px solid lightslategray;
}
